html{
    margin: 0;
padding: 0;
}
.planeIconButton{
    height: auto!important;
    width: 10%!important;
    cursor: pointer!important;

}
.planeIconButton:active{
    rotate: 30deg!important;
}
.dateInput{
    width: 10%!important;
    max-width: 20px!important;
    border: none!important;
    margin-right: 25px!important;
}
.fNumberInput{
    border: none;
    width: 80% !important;
    margin-right: 5px!important;
    font-family: 'Poppins'!important;
    font-weight: 100!important;
}
.input_Container{
    border: 2px solid #000000!important;
    padding: 10px 20px!important;
    border-radius: 15px!important;
    width: 20%!important;
    background-color: #ffffff!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}
.fNumberInput::placeholder{
    color: #000000!important;
    font-family: 'Poppins'!important;
    font-weight: 100!important;
    translate: 20px!important;

}
.fNumberInput:focus{
    outline: none !important;
}
form{
    background-color: rgb(224, 229, 235)!important;
    padding: 100px!important;
    margin: 0!important;
}
