.h1_footer{
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    background-color: #00A0B1;
    
}
.whatsapp_Logo, .facebook_Logo, .twitter_Logo, .instagram_Logo{
    width: 30px;
   /* margin-left: 10px;*/
   /* padding: 10px;*/
}
.a_Whatsapp{
    text-decoration: none;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.a_Instagram{
    text-decoration: none;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.a_Facebook{
    text-decoration: none;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.a_Twitter{
    text-decoration: none;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.social_Network{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.credit{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    align-self: flex-end;
    letter-spacing: 1px;
}
.dede{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}
.logo{
    margin-bottom: 20px;
}