html, body {
    margin: 0;
    padding: 0;
}
.main{
    margin: 0;
    padding: 0;

}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loading-gif {
    width: 100px;
    height: auto;
}
.flightDetailsSection{
    width: 100%;

    padding: 200px 0;
    display: flex;
    justify-content: center;
}
/*Why Pres section*/
.track_Steps{
    font-family: Montserrat, sans-serif;
    padding-bottom: 100px;



}
.title_Steps{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.text_Steps{
    padding-bottom: 10px;
    width: 100%;
    padding-top: 0;

    background-image: url('src/assets/imgs/backgroundMap.webp');

}
.stepsContainer{
    display: flex;
    flex-direction: column;
}
.travel_Icon{
    width: 40px;
    max-height: 40px;
}
.step1, .step2, .step3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
.sub_Step1, .sub_Step2, .sub_Step3{
    max-width: 70%;
}
.h4_Step1, .h4_Step2, .h4_Step3{
    color: #313EF7;
    font-size: 21px;
}
.step_Img{
    width: 95%;
    border-radius: 40px;
    align-self: center;
}
.late img{
    width: 180px;
}
@media screen and (min-width: 768px) {
    .step1, .step2, .step3 {
        flex-direction: column;
    }
    .text_Steps{
        display: flex;
        flex-direction: row;
    }
    .text_Steps{
        padding-top: 50px;
    }
}
@media screen and (min-width: 1160px) {
    .step_Img{
        width: 75%;
        margin-right: 20px;
    }
    .stepsContainer{
        display: flex;
        flex-direction: row;
        padding-top: 50px;
    }
    .text_Steps{
        flex-direction: column;
        width: 75%;
    }
    .step1, .step2, .step3 {
        flex-direction: row;
    }
    .travel_Icon{
        width: 50px;
        max-height: 50px;
    }
    .title_Steps{
        font-size: 42px;
    }
}